body {
    font-family: "Open Sans", sans-serif;
    /*background-color: black;*/
}

h1, h2 {
    font-family: 'Satisfy', cursive;
}

.container-fluid h2 {
  font-family: "Open Sans", sans-serif;
  font-size: 1.4em;
}

.jumbotron {
    margin: 0;
    padding: 30px;
    background-image: linear-gradient(to right, #f8b195, #f67280, #ca5576);
    color: white;
}

.btn {
  background-color: #f67280 !important;
  border-color: #f67280;
}

.card-text {
    text-align: center;
}

.card {
    height: 150px;
    border: 3px solid #ca5576;
    box-shadow: 5px 5px 20px 2px #f67280;
}

.card-body {
  font-size: smaller;
}

.navbar {
    background-color: #ca5576;
}

.card {
    margin: 25px;
}

.container{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 100px;
  }
  
  .container h1:nth-child(1) {
    color: black;
    font-family: 'Fira Code', monospace;
    font-weight: 800;
    font-size: 20px;
    margin: 0 0 0 35%;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    width: 170px;
    animation: type 2s steps(40,end) forwards;
  }
  
  .container h1:nth-child(2) {
    opacity: 0;
    font-family: "Work Sans", sans-serif;
    margin: 0 auto auto auto;
    background: linear-gradient(to right, #f8b195, #f67280, #c06c84);
    font-weight: 800;
    font-size: 100px;  
    width: 430px;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    overflow: hidden;
    animation: shring-animation 2.2s steps(40,end) 2s forwards, blink .5s step-end infinite alternate;
  }

  .container h1:nth-child(3) {
    color: black;
    animation-delay: 5s;
    animation: slide-left 5s;
  }

  @keyframes slide-left {
    from {
        margin-left: 100%;
        width: 300%;
    }
    to {
        margin-left: 0%;
        width: 100%;
    }
  }

  @keyframes shring-animation {
    0% {
      background-position: 0 0;
      opacity: 0;
      width: 0;
    }
    1% {
      background-position: 0 0;
      opacity: 1;
      border-right: 1px solid orange;
    }
    50% {
      background-position: 150px 0;
      opacity: 1;
      border-right: 1px solid orange;
    }
    100% {
      background-position: 400px 0;
      opacity: 1;
      border-right: none;
    }
  }
  
  @keyframes type {
    0% {
      width: 0;
    }
    1%, 99%{
      border-right: 1px solid orange;
    }
    100%{
      border-right: none;
    }
  }
  
  @keyframes blink {
    50% {
      border-color: transparent;
    }
  }

.social {
    width: 35%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}

.page-header {
    text-align: center;
    font-family: 'Satisfy', cursive;
    color: black;
    font-size: 2.4em;
    margin-top: 20px;
}

.project-header {
    margin-top: 150px;
    text-align: center;
    font-family: 'Satisfy', cursive;
    color: black;
}

.my-carousel {
    margin-top: 20px;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid #ca5576;
}

.my-carousel h1 {
    margin-top: 30px;
    text-align: center;
    color: black;
}

.carousel-inner img {
  height: 400px;
  width: 100%;
}

.inner img {
    height: 750px;
    width: 100%;
}

.carousel-control-prev-icon {
    background-color: #ca5576;
}

.carousel-control-next-icon {
    background-color: #ca5576;
}

.port-header {
    margin-top: 40px;
    text-align: center;
    color: black;
}

h4 {
    text-align: center;
    color: black;
}

.port-container {
  margin-top: -2px;
  /*background-color: #f67280;*/
}

.port-img {
  height: 150px;
  width: 250px;
}

.port-img-mobile {
  height: 160px;
  width: 100px;
}

.port1 {
  border: 3px solid #f67280;
  margin-top: 5px;
  height: 150px;
  width: 85%;
  padding-top: 20px;
  margin-right: auto;
  margin-left: auto;
}

.port-carousel {
  width: 45%;
  margin-left: auto;
  margin-right: auto;
}

.form-group {
  margin-top: 45px;
  width: 45%;
  margin-left: auto;
  margin-right: auto;
}

#form-btn {
  align-self: center;
}

.portfolio {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.portfolio-img {
  margin-top: 25px;
  height: 400px;
  width: 600px;
}

.portfolio-icon {
  height: 50px;
  width: 50px;
  padding-top: 8px;
  padding-right: 3px;
}

.mobile-container {
  margin-top: 15px;
}

.portfolio-container {
  height: 200px;
  width: 50%;
  border: 3px solid #c33846;
  text-align: center;
  padding-top: 25px;
}

.technologies {
  font-size: 1.2em;
}

.footer {
  visibility: visible;
  text-align: center;
  height: 150px;
  width: 100%;
  background-image: linear-gradient(to right, #f8b195, #c8899c, #ca5576);
  margin-top: 35px;
}

.foot-icon {
  display: inline-block;
  align-items: center;
  margin-top: 25px;
  padding: 10px;
}

.mobile-container-skills {
  visibility: hidden;
}

.desktop-container {
  visibility: visible;
}

@media (min-width: 769px) {
  .desktop-footer {
    margin-top: -1800px;
    width: 100%;
  }
}

@media (max-width: 768px) {
  .carousel-inner img {
    height: 300px;
  }
  .my-carousel {
    width: 65%;
  }
  .desktop-container {
    visibility: hidden;
  }
  .mobile-container-skills {
    visibility: visible;
    margin-top: -1250px;
  }
  .port1 {
    margin-top: 15px;
    height: 190px;
    width: 100%;
  }
  
}

@media (max-width: 420px) {
  .jumbotron h1 {
    text-align: center;
  }
  .container h1:nth-child(2) {
    margin-left: -8px;
  }
  .mobile-name {
    margin-left: -8px;
  }
  .carousel-inner img {
    height: 200px;
  }
  .my-carousel {
    width: 80%;
  }
  .project-header {
    margin-top: 80px;
  }
  .container{
    width: 100%;
    margin-left: auto;
    margin-right: 15px;
    text-align: center;
    margin-top: 60px;
  }
  .port-img {
    height: 100px;
    width: 180px;
  }
  .port-img-mobile {
    height: 130px;
    width: 90px;
  }
  .port-container {
    visibility: hidden;
  }
  .mobile-container {
    visibility: visible;
    width: 100%;
    margin-top: -190px;
    margin-left: -20px;
  }
  .port1 {
    margin-top: 15px;
    height: 230px;
    width: 95%;
    margin-left: 30px;
  }
  .port-carousel {
    width: 75%;
  }
  .inner img {
    height: 400px;
  }
  .portfolio-img {
    height: 250px;
    width: 400px;
  }
  .portfolio-container {
    height: 180px;
    width: 85%;
  }
  .port-header {
    margin-top: 95px;
  }
  .desktop-container {
    visibility: hidden;
  }
  .mobile-container-skills {
    visibility: visible;
    margin-top: -1250px;
  }
}